.login-form {
  position: relative;
  max-width: 400px;
  margin-top: 10%;
  margin-left: 37.5%;
  margin-bottom: 37.5%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #0000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  z-index: 1;

  form {
    h2 {
      margin-bottom: 20px;
      color: #004c9e;
    }

    .form-group {
      margin-bottom: 20px;
      font-size: x-large;

      label {
        display: block;
        margin-bottom: 5px;
        text-align: start;
      }
      input.form-control {
        font-size: x-large;
      }
    }
  }

  .password-icon{
    position: absolute;
    right: 8%;
    top: 42%;
    max-width: fit-content;
  }

  button {
    position: inherit;
    width: 100%;
    margin-top: 2%;
    font-size: large;
    display: block;
  }
}
