.login-form {
  position: relative;
  max-width: 400px;
  margin-top: 10%;
  margin-left: 40%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #0000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  z-index: 1;
  
  form {
    

    h2 {
      margin-bottom: 20px;
      color: #004C9E;
    }

    .form-group {
      margin-bottom: 20px;
      font-size: x-large;

      label {
        display: block;
        margin-bottom: 5px;
        text-align: start;
      }
      input.form-control {
        font-size: x-large;
      }
    }
  }

  button { 
    position: inherit;
    width: 100%;
    margin-top: 2%;
    font-size: large;
    display: block;
    
  }

  .forgot-password {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff;
    font-size: x-large;
  }
}
