/* .form-wrapper {
  position: relative;
}

label {
  font-family: "Bree Serif";
}

html {
  background-color: #f5f5dc;
} */

/* .form-wrapper {
  background-color: #f5f5dc;
} */

.popup {
  position: absolute;
  width: 400px;
  left: 38%;
  text-align: center;
  padding: 0 30px 30px;
  background-color: #fff;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 44%);
  border-radius: 10px;
  z-index: 3;
  top: -40%;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  top: 2%;
  transition: transform 0.4s, top 0.4s;
}
.popup-title {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  background: #eee;
  color: #111;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* footer {
  margin-top: auto;
  margin-bottom: auto;
  background: #f3f2ee;
  margin-top: 19%;
  margin-bottom: 0%;
}

.footer-text {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
} */
/* .login-form-card {
  display: block;
  justify-items: center;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.forgot-password {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.form-group-forgot-password {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.button-login {
  position: absolute;
  background: #0188c6;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.button-log-in-text {
  color: #ffffff;
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.login-form {
  position: relative;
  max-width: 400px;
  margin-left: 38%;
  margin-top: 12%;
  margin-right: 34%;
  margin-bottom: 16%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #0000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  z-index: 0;
}
.login-form form h2 {
  margin-bottom: 20px;
  color: #004c9e;
}
.login-form form .form-group {
  margin-bottom: 20px;
  font-size: x-large;
}
.login-form form .form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
}
.login-form form .form-group input.form-control {
  font-size: x-large;
}
.login-form .form-control.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.password-wrapper {
  position: relative;
}
.login-form .password-icon {
  position: absolute;
  right: -2%;
  top: 33%;
  transform: translateY(-50%);
  max-width: fit-content;
}

.login-form button {
  position: inherit;
  width: 100%;
  margin-top: 2%;
  font-size: large;
  display: block;
} */

.login-form {
  position: absolute;
  width: 476px;
  height: 444px;
  left: 1170px;
  top: 87px;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
}
.form-order {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
}
.lbl {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: #1d242b;
}
.or {
  font-family: "Bree Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.btn-login {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  width: 135%;
  color: #ffffff;
  background: #0188c6;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
}

.eye-dropper .password-icon {
  position: absolute;
  right: -132%;
  top: 90%;
  transform: translateY(-50%);
  max-width: fit-content;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credential-order {
  position: relative;
  left: -58%;
}

.textbox-login {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  width: 210%;
  height: 40px;
}

.btn-signup {
  position: relative;
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  width: 270%;
  left: -84%;
  color: #ffffff;
  background: #42b62b;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
}

.forgot-password {
  font-family: "Bree Serif";
  font-style: normal;
  text-decoration-line: underline;
  color: #0188c6 !important;
}

.image-group{
  position: absolute;
  margin-top: 13.8%;
}
.logo-header{
  position: relative;
    margin-top: 4%;
    margin-left: 12%;
}
.quotes{
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 999;
}

.quote-text{
  font-family: 'Peace Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 76px;
    text-align: center;
    max-width: 47%;
    color: #676667;
    margin-left: 2%;
}

.quoter-text{
  font-family: 'Peace Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  margin-left: 24%;
  color: #CD852D;
}

/*footer*/
footer{
  display: flex!important;
  position: absolute;
  bottom:0px;
  margin-left: 43%;
  margin-right: 43%;
}
.footer-logo{
  font-family: 'Peace Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;

color: #1D242B;
}
/* Signup Form */
.sign-up-background {
  background-color: #f5f5dc;
}

#signup-form {
  display: flex;
  margin-left: 36%;
  margin-right: 38%;
  margin-top: 1%;
  padding-top: 15px;
  padding-bottom: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 44%);
  border-radius: 10px;
  font-size: larger;
}

.form-group-signup-inputs {
  display: flex;
}
.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radio-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.radio-label input[type="radio"] {
  margin-right: 5px;
}

.custom-text {
  margin-top: 10px;
}

.customGenderInput {
  display: none;
}

/* .header {
  display: flex;
  justify-content: space-between;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0188c6;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
}

.user-info-name-details {
  font-size: large;
  margin-right: 20px;
}

.user-profile-image-header {
  border-radius: 50%;
}

.user-info p {
  margin: 0 10px 0 0;
  font-weight: bold;
}

.user-info a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
}

.user-info a:hover {
  background-color: #333;
  color: #fff;
}

.profile-page {
  border: 2px solid #1c6ea4;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  border: 2px solid #1c6ea4;
}

.profile-primary-details {
  margin-left: 22%;
  margin-right: 16%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.profile-primary-information {
  position: relative;
  display: flex;
  font-size: xx-large;
  text-align: left;
  justify-items: start;
}

.change-password-link {
  padding-top: 6%;
}

.profile-buttons {
  text-align: center;
}
