.popup {
  position: absolute;
  width: 400px;
  left: 38%;
  text-align: center;
  padding: 0 30px 30px;
  background-color: #fff;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 44%);
  border-radius: 10px;
  z-index: 6;
  top: -100%;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  top: 2%;
  transition: transform 0.4s, top 0.4s;
}
.popup-title {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  background: #eee;
  color: #111;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.login-form {
  position: absolute;
  width: 25%;
  height: 50%;
  right: 14%;
  top: 9%;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 4;
}
.form-order {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  align-items: center;
}
.lbl {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: #1d242b;
}
.or {
  font-family: "Bree Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.btn-login {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  width: 135%;
  color: #ffffff;
  background: #0188c6;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
}

.eye-dropper .password-icon {
  position: absolute;
  right: -132%;
  top: 90%;
  transform: translateY(-50%);
  max-width: fit-content;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credential-order {
  position: relative;
  left: -58%;
}

.textbox-login {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: hidden !important;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
  width: 210%;
  height: 40px;
}

.btn-signup {
  position: relative;
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  width: 270%;
  left: -84%;
  color: #ffffff;
  background: #42b62b;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 0;
}

.forgot-password {
  font-family: "Bree Serif";
  font-style: normal;
  text-decoration-line: underline;
  color: #0188c6 !important;
}

.image-group {
  position: absolute;
  margin-top: 13.8%;
  height: 36%;
  width: 100%;
}

.logo-header {
  position: relative;
  margin-top: 4%;
  margin-left: 12%;
  width: 18%;
}

.quotes {
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  left: 0;
  width: 52%;
}

.quote-text {
  font-family: "Hey Patrick", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 1.95;
  text-align: center;
  max-width: 100%;
  color: #676667;
  margin-left: 3.8%;
}

.quoter-text {
  font-family: "Hey Patrick", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.3vw;
  line-height: 1.42;
  margin-left: 57%;
  color: #cd852d;
}

/*footer*/
footer {
  display: flex !important;
  position: absolute;
  bottom: 0px;
  margin-left: 39%;
  margin-right: 46%;
  justify-content: space-evenly;
}

.footer-img {
  width: 29%;
}
.footer-text {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 33px;
  display: flex;
  margin: 0;
  align-items: center;
  color: #1d242b;
}

/*------------------------------End of Fotter----------------------*/
/* Signup Form */
.sign-up-background {
  background-color: #f5f5dc;
}

#signup-form {
  display: flex;
  margin-left: 36%;
  margin-right: 38%;
  margin-top: 1%;
  padding-top: 15px;
  padding-bottom: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 44%);
  border-radius: 10px;
  font-size: larger;
}

.form-group-signup-inputs {
  display: flex;
}
.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radio-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.radio-label input[type="radio"] {
  margin-right: 5px;
}

.custom-text {
  margin-top: 10px;
}

.customGenderInput {
  display: none;
}

/* .header {
  display: flex;
  justify-content: space-between;
} */
/*--------------------------------Start-of-Header------------------------------*/
.header {
  position: fixed;
  display: flex;
  background: #fafafa;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 7%;
  justify-content: space-around;
  z-index: 9999;
}

.logo {
  position: relative;
  top: 7%;
  left: 10%;
  width: 5.5%;
  height: 82%;
}

.search {
  margin-top: 1%;
  position: relative;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-menu-button {
  width: 21%;
  height: 27%;
}
.user-profile-image-header {
  border-radius: 50%;
  width: 79%;
  height: 84%;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 8%;
  right: 15%;
  width: 100%;
  max-width: 400px;
  background: #fafafa;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 10px 10px;
  padding: 20px;
  z-index: 20;
}

.sub-menu-items {
  display: flex;
}

.sub-menu img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.sub-menu h2 {
  position: relative;
  margin-top: 0;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #1d242b;
  left: 8%;
}

.sub-menu p {
  position: relative;
  margin-bottom: 20px;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #494949;
  left: 8%;
}
.sub-menu-button {
  position: relative;
  width: 80%;
  left: 12%;
  border: 0px #cd852d;
  background: #cd852d;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;

  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.profile-page {
  position: absolute;
  top: 10%;
  height: 100vh;
}
.user-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-name-details {
  font-size: large;
  margin-right: 20px;
}

.user-info p {
  margin: 0 10px 0 0;
  font-weight: bold;
}

.user-info a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
}

.user-info a:hover {
  background-color: #333;
  color: #fff;
}

.user-profile-page {
  background: #f3f2ee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-profile-adspace {
  position: absolute;
  display: flex;
  top: 8%;
  left: 69%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 21%;
  padding-top: 13%;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  max-width: 28%;
  justify-content: center;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
}

.profile-pic {
  position: absolute;
  width: 11%;
  height: 21%;
  top: 14%;
  left: 11%;
  z-index: 1;
}

.image-rotation {
  border-radius: 50%;
}

.profile-card-first {
  position: absolute;
  top: 8%;
  left: 10%;
  right: 33%;
  background: #fefffe;
  height: 37%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.profile-banner {
  width: 100%;
  height: 62%;
  border-radius: 10px;
}
.profile-card-first-info {
}

.text-name {
  position: relative;
  left: 20%;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  padding-bottom: 1%;
  color: #1d242b;
  max-width: fit-content;
}
.text-school {
  padding-left: 3%;
  padding-bottom: 2%;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  color: #494949;
}
