.form-wrapper {
  position: relative;
}

label {
  font-family: "Bree Serif";
}

html{
  background-color: #f5f5dc;
}

.form-wrapper{
  background-color: #f5f5dc;

}

.popup{
  position: absolute;
  width: 400px;
  left: 38%;
  text-align: center;
  padding: 0 30px 30px;
  background-color: #fff;
  box-shadow: 8px 8px 4px rgb(0 0 0 / 44%);
  border-radius: 10px;
  z-index: 3;
  top: -27%;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  top: 2%;
  transition: transform 0.4s, top 0.4s;
}
.popup-title{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  background: #eee;
  color:#111;
  border: none !important; 
  outline: none !important;
  border-radius: 50%;
  cursor: pointer;;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

/* footer {
  margin-top: auto;
  margin-bottom: auto;
  background: #f3f2ee;
  margin-top: 19%;
  margin-bottom: 0%;
}

.footer-text {
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
} */
.login-form-card {
  display: block;
  justify-items: center;
  background: #fefffe;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.forgot-password {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.form-group-forgot-password{
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.button-login {
  position: absolute;
  background: #0188c6;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.button-log-in-text {
  color: #ffffff;
  font-family: "Peace Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.login-form {
  position: relative;
  max-width: 400px;
  margin-left: 38%;
  margin-top: 12%;
  margin-right: 34%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #0000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  z-index: 0;
}
.login-form form h2 {
  margin-bottom: 20px;
  color: #004c9e;
}
.login-form form .form-group {
  margin-bottom: 20px;
  font-size: x-large;
}
.login-form form .form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
}
.login-form form .form-group input.form-control {
  font-size: x-large;
}
.login-form .form-control.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.password-wrapper {
  position: relative;
}
.login-form .password-icon {
  position: absolute;
  right: -2%;
  top: 33%;
  transform: translateY(-50%);
  max-width: fit-content;
}

.login-form button {
  position: inherit;
  width: 100%;
  margin-top: 2%;
  font-size: large;
  display: block;
}

#signup-form {
  display: flex;
  border: 4px red solid;
  margin-left: 14%;
  margin-right: 15%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radio-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.radio-label input[type="radio"] {
  margin-right: 5px;
}

.custom-text {
  margin-top: 10px;
}

.customGenderInput {
  display: none;
}

/* .header {
  display: flex;
  justify-content: space-between;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0188c6;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
  
}

.user-info-name-details{
  font-size: large;
  margin-right: 20px;
}

.user-profile-image-header{
  border-radius: 50%;
}

.user-info p {
  margin: 0 10px 0 0;
  font-weight: bold;
}

.user-info a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fff;
}

.user-info a:hover {
  background-color: #333;
  color: #fff;
}

.profile-page {
  border: 2px solid #1c6ea4;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  border: 2px solid #1c6ea4;
}

.profile-primary-details {
  margin-left: 22%;
  margin-right: 16%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.profile-primary-information {
  position: relative;
  display: flex;
  font-size: xx-large;
  text-align: left;
  justify-items: start;
}

.change-password-link {
  padding-top: 6%;
}

.profile-buttons {
  text-align: center;
}
