.Login-Form {
    background-image: url("../../../Images/background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 1000px;
    background-position-x: right;
    background-color: #f5f5dc;
  }
  
  h1 {
    position: relative;
    text-align: center;
    top: 10%;
  }